body {
    background: bisque;
}

table {
    border: 4px black solid;
    padding: 1em;
    background-color: cadetblue;
    box-shadow: rgb(0 0 0 / 50%) 0px 15px 60px;
}

.pantalla {
    display: block;
    background-color: bisque;
    margin: 0.5em 0em;
    width: 17em;
    height: 2em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0.7px 2.5px 0px 0.7px;
}

.numero {
    background-color: brown; 
    width: 4em;
    height: 4em;
    border-radius: 25px;
    box-shadow: 0.7px 2.5px 0px 0.7px;
    
}

.numero:hover {
    background: rgba(0, 0, 0, 0.267);
}

.operadores {
    background-color: rgb(165, 85, 85); 
    width: 4em;
    height: 4em;
    border-radius: 25px;
    box-shadow: 0.7px 2.5px 0px 0.7px;
}

#operadores {
    background-color: rgb(165, 85, 85); 
    width: 4em;
    height: 4em;
    border-radius: 25px;
}
